@include font-face("Jennifer Lynne", font-files("/fonts/jennifer_lynne/jennifer_lynne.eot", "/fonts/jennifer_lynne/jennifer_lynne.ttf"));

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

#hero { 
  background-image: url("/img/hero/Hero.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: -45px;

  h1 {
    text-align: center;
    font-size: 110px;
    color: white;
    padding-top: 150px;
    margin: 0;
  }
}

.image-collage {
  width: 100%;
  background: rgb(26, 33, 44);
  margin-bottom: 20px;

  &:hover img {
    opacity: .4;
  }

  img {
    width: 100%;
    opacity: .7;
    @include single-transition(opacity, 0.5s);
  }
}

.image-collage .place {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  font-size: 25px;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
}

.image-collage .price {
  position: absolute;
  top: 50%;
  font-size: 20px;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
}

.form-page {
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding-top: 20px;
  padding-bottom: 100px;
}

.actions {
  margin-top: 20px;
}

.result-boxes {
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;

  .primary-info {
    @media (min-width: 1025px) {
      text-align: center;
    }
  }

  .logo {
    display: inline-block;
    text-align: center;
  }

  .name {
    color: rgb(74, 74, 74);
    font-size: 25px;
  }

  .price {
    color: rgb(113, 176, 149);
    font-size: 35px;
    position: absolute;
    top: 0;
    right: 15px;

    @media (min-width: 1025px) {
      position: relative;
      right: 0;
      font-size: 26px;
    }
  }

  .info {
    color: gray;
    font-size: 17px;
  }

  .book-button {
    margin: 10px 0 0 0;

    @media (min-width: 1025px) {
      margin-top: 0px;
    }
  }
}

.off-white-background {
  background-color: whitesmoke;
  border-top: 2px solid #e7e7e7;
}

.page-section {
  padding: 100px 0;
}

.margin-bottom {
  margin-bottom: 7px;
}

.extramargin-bottom {
  margin-bottom: 15px;
}

.extra-margin-bottom {
  margin-bottom: 80px;
}

.extra-margin-header {
  margin-top: 50px;
}

.padding-right {
  padding-right: 15px;
}

.padding-left {
  padding-left: 15px;
}

.pull-left {
  float: left;
}

.no-list-style {
  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }
}

.clearfix {
  @include clearfix;
}


.footer {
  padding: 40px;
  background: $teal;
  color: white;
  text-align: center;

  a {
    color: white;
    font-size: 14px;

    &:hover {
      color: rgb(230, 230, 230);
    }  

  }

}

.social-media {
  img {
    padding-top: 10px;
    padding-left: 4px;
    position: relative;
    @include single-transition(top, 0.1s);
    top: 0;
  }

  a:hover img {
    top: -5px;
  }
}
