.row
  .column.medium-6
    .image-collage 
      %img{src: "/img/Deals1.png"}
      .place Ireland
      .price $800+
  .column.medium-3.small-6
    .image-collage 
      %img{src: "/img/Deals8.png"}
      .place Chicago
      .price $100+
  .column.medium-3.small-6
    .image-collage 
      %img{src: "/img/Deals3.png"}
      .place Mexico
      .price $600+

.row
  .column.medium-3.small-6
    .image-collage 
      %img{src: "/img/Deals4.png"}
      .place New York
      .price $100+
  .column.medium-6.hide-for-small-only
    .image-collage 
      %img{src: "/img/Deals5.png"}
      .place Jamaica
      .price $700+
  .column.medium-3.small-6
    .image-collage 
      %img{src: "/img/Deals6.png"}
      .place China
      .price $900+

.row
  .column.medium-6
    .image-collage 
      %img{src: "/img/Deals7.png"}
      .place Seattle
      .price $300+
  .column.medium-3.small-6
    .image-collage 
      %img{src: "/img/Deals2.png"}
      .place Michigan
      .price $200+
  .column.medium-3.small-6
    .image-collage 
      %img{src: "/img/Deals9.png"}
      .place Paris
      .price $800+   