<div class="row">
  <div class="column medium-6">
    <div class="image-collage">
      <img src="/img/deals/Deals1.png"/>
      <div class="place">Ireland</div>
      <div class="price">$800+</div>
    </div>
  </div>
  <div class="column medium-3 small-6">
    <div class="image-collage">
      <img src="/img/deals/Deals8.png"/>
      <div class="place">Chicago</div>
      <div class="price">$100+</div>
    </div>
  </div>
  <div class="column medium-3 small-6">
    <div class="image-collage">
      <img src="/img/deals/Deals3.png"/>
      <div class="place">Mexico</div>
      <div class="price">$600+</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column medium-3 small-6">
    <div class="image-collage">
      <img src="/img/deals/Deals4.png"/>
      <div class="place">New York</div>
      <div class="price">$100+</div>
    </div>
  </div>
  <div class="column medium-6 hide-for-small-only">
    <div class="image-collage">
      <img src="/img/deals/Deals5.png"/>
      <div class="place">Jamaica</div>
      <div class="price">$700+</div>
    </div>
  </div>
  <div class="column medium-3 small-6">
    <div class="image-collage">
      <img src="/img/deals/Deals6.png"/>
      <div class="place">China</div>
      <div class="price">$900+</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column medium-6">
    <div class="image-collage">
      <img src="/img/deals/Deals7.png"/>
      <div class="place">Seattle</div>
      <div class="price">$300+</div>
    </div>
  </div>
  <div class="column medium-3 small-6">
    <div class="image-collage">
      <img src="/img/deals/Deals2.png"/>
      <div class="place">Michigan</div>
      <div class="price">$200+</div>
    </div>
  </div>
  <div class="column medium-3 small-6">
    <div class="image-collage">
      <img src="/img/deals/Deals9.png"/>
      <div class="place">Paris</div>
      <div class="price">$800+   </div>
    </div>
  </div>
</div>
