.footer
  %a About Us
  %a Help
  %a Terms & Privacy 
  .social-media
    %a
      %img{src: "/img/facebook.png"}
    %a   
      %img{src: "/img/instagram.png"} 
    %a
      %img{src: "/img/twitter.png"}
    %a   
      %img{src: "/img/pinterest.png"} 

