.row
  .column.large-3.position-right
    %select{type: "select"}
      %option{value: "Price"} Price (low to high)
      %option{value: "Price"} Price (high to low)


.row.collapse
  .result-boxes
    .row 
  
      .column.large-2
        %img{src: "/img/cars/Compact_car.png"}
        .price $10/day
      .column.large-7
        .name
          Nissan Versa - Compact
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul 
                %li Unlimited Mileage 
                %li 5 adults
                %li 2 Bags
            .column.large-6
              %ul    
                %li Automatic
                %li Air Conditioning
                %li 4 doors
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Select Vehicle"}
                    

.row.collapse
  .result-boxes
    .row 
  
      .column.large-2
        %img{src: "/img/cars/red_car.png"}
        .price $12/day
      .column.large-7
        .name
          Ford Fusion - Full-size
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul 
                %li Unlimited Mileage 
                %li 5 adults
                %li 2 Bags
            .column.large-6
              %ul    
                %li Automatic
                %li Air Conditioning
                %li 4 doors
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Select Vehicle"}
                    
.row.collapse
  .result-boxes
    .row 
  
      .column.large-2
        %img{src: "/img/cars/blue_car.png"}
        .price $15/day
      .column.large-7
        .name
          Chrysler 200 - Standard
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul 
                %li Unlimited Mileage 
                %li 5 adults
                %li 3 Bags
            .column.large-6
              %ul    
                %li Automatic
                %li Air Conditioning
                %li 2 doors
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Select Vehicle"}
                    

.row.collapse
  .result-boxes
    .row 
  
      .column.large-2
        %img{src: "/img/cars/dark_gray_car.png"}
        .price $16/day
      .column.large-7
        .name
          Toyota Corolla - Intermediate
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul 
                %li Unlimited Mileage 
                %li 4 adults
                %li 2 Bags
            .column.large-6
              %ul    
                %li Automatic
                %li Air Conditioning
                %li 4 doors
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Select Vehicle"}
                    

.row.collapse
  .result-boxes
    .row 
  
      .column.large-2
        %img{src: "/img/cars/yellow_car.png"}
        .price $17/day
      .column.large-7
        .name
          Chevy Spark - Economy
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul 
                %li Unlimited Mileage 
                %li 4 adults
                %li 2 Bags
            .column.large-6
              %ul    
                %li Automatic
                %li Air Conditioning
                %li 2 or 4 doors
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Select Vehicle"}
                    

.row.collapse
  .result-boxes
    .row 
  
      .column.large-2
        %img{src: "/img/cars/white_suv.png"}
        .price $18/day
      .column.large-7
        .name
          Hyundai - Standard SUV
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul 
                %li Unlimited Mileage 
                %li 6 adults
                %li 7 Bags
            .column.large-6
              %ul    
                %li Automatic
                %li Air Conditioning
                %li Tilt/cruise Control
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Select Vehicle"}
                    

.row.collapse
  .result-boxes
    .row 
  
      .column.large-2
        %img{src: "/img/cars/luxury_car.png"}
        .price $30/day
      .column.large-7
        .name
          Lincoln MKZ  - Luxury
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul 
                %li Unlimited Mileage 
                %li 5 adults
                %li 2 Bags
            .column.large-6
              %ul    
                %li Automatic
                %li Air Conditioning
                %li 2 doors
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Select Vehicle"}
                    





















