<div class="container">
  <div class="actions">
    <div class="row">
      <div class="column large-3 end">
        <select type="select">
          <option value="Price">Price (low to high)</option>
          <option value="Price">Price (high to low)</option>
        </select>
      </div>
    </div>
  </div>
  <div class="result-boxes">
    <div class="row">
      <div class="column large-2 primary-info">
        <img src="/img/cars/Compact_car.png"/>
        <div class="price">
          $10
          <span class="subscript">/day</span>
        </div>
      </div>
      <div class="column large-7">
        <div class="name">
          Nissan Versa - Compact
        </div>
        <div class="info no-list-style">
          <div class="row collapse">
            <div class="column small-6">
              <ul>
                <li>Unlimited Mileage </li>
                <li>5 adults</li>
                <li>2 Bags</li>
              </ul>
            </div>
            <div class="column small-6">
              <ul>
                <li>Automatic</li>
                <li>Air Conditioning</li>
                <li>4 doors</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-3">
        <input class="book-button button postfix" type="submit" value="Select Vehicle"></input>
      </div>
    </div>
  </div>
  <div class="result-boxes">
    <div class="row">
      <div class="column large-2 primary-info">
        <img src="/img/cars/red_car.png"/>
        <div class="price">
          $12
          <span class="subscript">/day</span>
        </div>
      </div>
      <div class="column large-7">
        <div class="name">
          Ford Fusion - Full-size
        </div>
        <div class="info no-list-style">
          <div class="row collapse">
            <div class="column small-6">
              <ul>
                <li>Unlimited Mileage </li>
                <li>5 adults</li>
                <li>2 Bags</li>
              </ul>
            </div>
            <div class="column small-6">
              <ul>
                <li>Automatic</li>
                <li>Air Conditioning</li>
                <li>4 doors</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-3">
        <input class="book-button button postfix" type="submit" value="Select Vehicle"></input>
      </div>
    </div>
  </div>
  <div class="result-boxes">
    <div class="row">
      <div class="column large-2 primary-info">
        <img src="/img/cars/blue_car.png"/>
        <div class="price">
          $15
          <span class="subscript">/day</span>
        </div>
      </div>
      <div class="column large-7">
        <div class="name">
          Chrysler 200 - Standard
        </div>
        <div class="info no-list-style">
          <div class="row collapse">
            <div class="column small-6">
              <ul>
                <li>Unlimited Mileage </li>
                <li>5 adults</li>
                <li>3 Bags</li>
              </ul>
            </div>
            <div class="column small-6">
              <ul>
                <li>Automatic</li>
                <li>Air Conditioning</li>
                <li>2 doors</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-3">
        <input class="book-button button postfix" type="submit" value="Select Vehicle"></input>
      </div>
    </div>
  </div>
  <div class="result-boxes">
    <div class="row">
      <div class="column large-2 primary-info">
        <img src="/img/cars/dark_gray_car.png"/>
        <div class="price">
          $16
          <span class="subscript">/day</span>
        </div>
      </div>
      <div class="column large-7">
        <div class="name">
          Toyota Corolla - Intermediate
        </div>
        <div class="info no-list-style">
          <div class="row collapse">
            <div class="column small-6">
              <ul>
                <li>Unlimited Mileage </li>
                <li>4 adults</li>
                <li>2 Bags</li>
              </ul>
            </div>
            <div class="column small-6">
              <ul>
                <li>Automatic</li>
                <li>Air Conditioning</li>
                <li>4 doors</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-3">
        <input class="book-button button postfix" type="submit" value="Select Vehicle"></input>
      </div>
    </div>
  </div>
  <div class="result-boxes">
    <div class="row">
      <div class="column large-2 primary-info">
        <img src="/img/cars/yellow_car.png"/>
        <div class="price">
          $17
          <span class="subscript">/day</span>
        </div>
      </div>
      <div class="column large-7">
        <div class="name">
          Chevy Spark - Economy
        </div>
        <div class="info no-list-style">
          <div class="row collapse">
            <div class="column small-6">
              <ul>
                <li>Unlimited Mileage </li>
                <li>4 adults</li>
                <li>2 Bags</li>
              </ul>
            </div>
            <div class="column small-6">
              <ul>
                <li>Automatic</li>
                <li>Air Conditioning</li>
                <li>2 or 4 doors</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-3">
        <input class="book-button button postfix" type="submit" value="Select Vehicle"></input>
      </div>
    </div>
  </div>
  <div class="result-boxes">
    <div class="row">
      <div class="column large-2 primary-info">
        <img src="/img/cars/white_suv.png"/>
        <div class="price">
          $18
          <span class="subscript">/day</span>
        </div>
      </div>
      <div class="column large-7">
        <div class="name">
          Hyundai - Standard SUV
        </div>
        <div class="info no-list-style">
          <div class="row collapse">
            <div class="column small-6">
              <ul>
                <li>Unlimited Mileage </li>
                <li>6 adults</li>
                <li>7 Bags</li>
              </ul>
            </div>
            <div class="column small-6">
              <ul>
                <li>Automatic</li>
                <li>Air Conditioning</li>
                <li>Tilt/cruise Control</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-3">
        <input class="book-button button postfix" type="submit" value="Select Vehicle"></input>
      </div>
    </div>
  </div>
  <div class="result-boxes">
    <div class="row">
      <div class="column large-2 primary-info">
        <img src="/img/cars/luxury_car.png"/>
        <div class="price">
          $30
          <span class="subscript">/day</span>
        </div>
      </div>
      <div class="column large-7">
        <div class="name">
          Lincoln MKZ  - Luxury
        </div>
        <div class="info no-list-style">
          <div class="row collapse">
            <div class="column small-6">
              <ul>
                <li>Unlimited Mileage </li>
                <li>5 adults</li>
                <li>2 Bags</li>
              </ul>
            </div>
            <div class="column small-6">
              <ul>
                <li>Automatic</li>
                <li>Air Conditioning</li>
                <li>2 doors</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="column large-3">
        <input class="book-button button postfix" type="submit" value="Select Vehicle"></input>
      </div>
    </div>
  </div>
</div>
