.form-page
  .container
    .row
      .column
        %h2.green.extra-margin-header Cars
        %form{action: "/car_results"}
          .margin-bottom
            %a.padding-right{href: "#"} Same drop-off
            %a.gray-hover{href: "#"} Different drop-off
          .row.collapse
            .column.large-4
              %input{type: "text", placeholder: "Pick-up location"}
            .column.large-4.small-6
              %input{type: "text", placeholder: "Pick-up date"} 
            .column.large-4.small-6
              %input{type: "text", placeholder: "Pick-up time"}
          .row.collapse
            .column.large-4     
              %input{type: "text", placeholder: "Drop-off location"}
            .column.large-4.small-6
              %input{type: "text", placeholder: "Drop-off date"}
            .column.large-4.small-6
              %input{type: "text", placeholder: "Drop-off time"}            
            .column.large-4
              %input.button.postfix{type: "submit", value: "Search"} 

.off-white-background.page-section.show-for-large-up
  .container
    .photo-collage
      .row.extra-margin-header
        .column.medium-6
          .image-collage  
            %img{src: "/img/rentals/Ireland_rental.png"}
            .place Ireland Rentals
            .price $22+
        .column.medium-3.small-6
          .image-collage  
            %img{src: "/img/rentals/Chicago_rental.png"}
            .place Chicago Rentals
            .price $12+
        .column.medium-3.small-6
          .image-collage 
            %img{src: "/img/rentals/Mexico_rental.png"}
            .place Mexico Rentals
            .price $10+

      .row
        .column.medium-3.small-6
          .image-collage 
            %img{src: "/img/rentals/Newyork_rental.png"}
            .place New York Rentals
            .price $15+
        .column.medium-6.hide-for-small-only
          .image-collage 
            %img{src: "/img/rentals/Jamrock_rental.png"}
            .place Jamaica Rentals
            .price $11+
        .column.medium-3.small-6
          .image-collage 
            %img{src: "/img/rentals/China_rental.png"}
            .place China Rentals
            .price $26+

      .row
        .column.medium-6
          .image-collage 
            %img{src: "/img/rentals/Seattle_rental.png"}
            .place Seattle Rentals
            .price $15+
        .column.medium-3.small-6
          .image-collage 
            %img{src: "/img/rentals/Michigan_rental.png"}
            .place Michigan Rentals
            .price $14+
        .column.medium-3.small-6
          .image-collage 
            %img{src: "/img/rentals/Paris_rental.png"}
            .place Paris Rentals
            .price $27+  
                  
