<div class="form-page">
  <div class="container">
    <div class="row">
      <div class="column">
        <h2 class="green extra-margin-header">Cars</h2>
        <form action="/car_results">
          <div class="margin-bottom">
            <a class="padding-right" href="#">Same drop-off</a>
            <a class="gray-hover" href="#">Different drop-off</a>
          </div>
          <div class="row collapse">
            <div class="column large-4">
              <input placeholder="Pick-up location" type="text"></input>
            </div>
            <div class="column large-4 small-6">
              <input placeholder="Pick-up date" type="text"></input>
            </div>
            <div class="column large-4 small-6">
              <input placeholder="Pick-up time" type="text"></input>
            </div>
          </div>
          <div class="row collapse">
            <div class="column large-4">
              <input placeholder="Drop-off location" type="text"></input>
            </div>
            <div class="column large-4 small-6">
              <input placeholder="Drop-off date" type="text"></input>
            </div>
            <div class="column large-4 small-6">
              <input placeholder="Drop-off time" type="text"></input>
            </div>
            <div class="column large-4">
              <input class="button postfix" type="submit" value="Search"></input>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="off-white-background page-section show-for-large-up">
  <div class="container">
    <div class="photo-collage">
      <div class="row">
        <div class="column medium-6">
          <div class="image-collage">
            <img src="/img/rentals/Ireland_rental.png"/>
            <div class="place">Ireland Rentals</div>
            <div class="price">$22+</div>
          </div>
        </div>
        <div class="column medium-3 small-6">
          <div class="image-collage">
            <img src="/img/rentals/Chicago_rental.png"/>
            <div class="place">Chicago Rentals</div>
            <div class="price">$12+</div>
          </div>
        </div>
        <div class="column medium-3 small-6">
          <div class="image-collage">
            <img src="/img/rentals/Mexico_rental.png"/>
            <div class="place">Mexico Rentals</div>
            <div class="price">$10+</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column medium-3 small-6">
          <div class="image-collage">
            <img src="/img/rentals/Newyork_rental.png"/>
            <div class="place">New York Rentals</div>
            <div class="price">$15+</div>
          </div>
        </div>
        <div class="column medium-6 hide-for-small-only">
          <div class="image-collage">
            <img src="/img/rentals/Jamrock_rental.png"/>
            <div class="place">Jamaica Rentals</div>
            <div class="price">$11+</div>
          </div>
        </div>
        <div class="column medium-3 small-6">
          <div class="image-collage">
            <img src="/img/rentals/China_rental.png"/>
            <div class="place">China Rentals</div>
            <div class="price">$26+</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column medium-6">
          <div class="image-collage">
            <img src="/img/rentals/Seattle_rental.png"/>
            <div class="place">Seattle Rentals</div>
            <div class="price">$15+</div>
          </div>
        </div>
        <div class="column medium-3 small-6">
          <div class="image-collage">
            <img src="/img/rentals/Michigan_rental.png"/>
            <div class="place">Michigan Rentals</div>
            <div class="price">$14+</div>
          </div>
        </div>
        <div class="column medium-3 small-6">
          <div class="image-collage">
            <img src="/img/rentals/Paris_rental.png"/>
            <div class="place">Paris Rentals</div>
            <div class="price">$27+  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
