.row
  %h2 Deals

.row
  .column.large-6
    .deal 
      %img{:src => "/img/Ireland.jpg"}
  .column.large-3
    .deal 
      %img{:src => "/img/City.jpg"}
  .column.large-3
    .deal
      %img{:src => "/img/Deals_small1.jpg"}
  .column.large-3
    .deal
      %img{:src => "/img/Deals_small1.jpg"}
  .column.large-6
    .deal
      %img{:src => "/img/Ireland.jpg"}
  .column.large-3
    .deal 
      %img{:src => "/img/Deals_small1.jpg"}
  .column.large-6
    .deal
      %img{:src => "/img/Ireland.jpg"}
  .column.large-3
    .deal
      %img{:src => "/img/Deals_small1.jpg"}
  .column.large-3
    .deal
      %img{:src => "/img/Deals_small1.jpg"} 