<div class="form-page">
  <div class="container">
    <div class="row">
      <div class="column">
        <h2 class="green margin-bottom extra-margin-header">Deals</h2>
        <form>
          <div class="row collapse">
            <div class="column large-5">
              <input placeholder="Chicago (CHI)" type="text"></input>
            </div>
            <div class="column large-5">
              <input placeholder="Where would you like to go?" type="text"></input>
            </div>
            <div class="column large-2">
              <input class="button postfix" type="submit" value="Search"></input>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="off-white-background page-section">
  <div class="container">
    <%= erb :'partials/deals' %>
  </div>
</div>
