.flight-form-page.extra-margin-bottom
  .row
    %h2.green.extra-margin-header Flights
    %form{action: "/flight_results"}
      .row
        .column.large-4
          .margin-bottom
            %a.padding-right{href: "#"} Round-trip
            %a{href: "#"} One-way
      .row.collapse
        .column.large-3.small-6
          %input{type: "text", placeholder: "Chicago (CHI)"}
        .column.large-3.small-6
          %input{type: "text", placeholder: "To"}
        .column.large-3.small-6
          %input{type: "text", placeholder: "Depart"}
        .column.large-3.small-6
          %input{type: "text", placeholder: "Return"}    
      .row.collapse 
        .column.large-2.small-4
          %input{type: "text", placeholder: "Adults (18+)"}
        .column.large-2.small-4
          %input{type: "text", placeholder: "Children (2-11)"}
        .column.large-2.small-4
          %input{type: "text", placeholder: "Infants (under 2)"}
        .column.large-3
          %select{type: "select"}
            %option{value:"Economy"} Economy
            %option{value:"Premium Economy"} Premium Economy
            %option{value:"Business"} Business
            %option{value:"First Class"} First Class       
        .column.large-3
          %input.button.postfix{type: "submit", value: "Search"}  
                 
.photo-collage.show-for-large-up
  .row
    .column.medium-6
      .deal 
        %img{src: "/img/Deals1.png"}
        .place Ireland Flights
        .price $800+
    .column.medium-3.small-6
      .deal 
        %img{src: "/img/Deals8.png"}
        .place Chicago Flights
        .price $100+
    .column.medium-3.small-6
      .deal
        %img{src: "/img/Deals3.png"}
        .place Mexico Flights
        .price $600+

  .row
    .column.medium-3.small-6
      .deal
        %img{src: "/img/Deals4.png"}
        .place New York Flights
        .price $100+
    .column.medium-6.hide-for-small-only
      .deal
        %img{src: "/img/Deals5.png"}
        .place Jamaica Flights
        .price $700+
    .column.medium-3.small-6
      .deal 
        %img{src: "/img/Deals6.png"}
        .place China Flights
        .price $900+

  .row
    .column.medium-6
      .deal
        %img{src: "/img/Deals7.png"}
        .place Seattle Flights
        .price $300+
    .column.medium-3.small-6
      .deal
        %img{src: "/img/Deals2.png"}
        .place Michigan Flights
        .price $200+
    .column.medium-3.small-6
      .deal
        %img{src: "/img/Deals9.png"}
        .place Paris Flights
        .price $800+                    