.row
  .column.large-3.position-right
    %select{type: "select"}
      %option{value: "Price"} Price (low to high)
      %option{value: "Price"} Price (high to low)
      %option{value: "Departure"} Departure (Early to Late)}
      %option{value: "Departure"} Departure (Late to Early)}
      %option{value: "Duration"} Duration (Shorter to Longer)}
      %option{value: "Duration"} Duration (Longer to Shorter)}

- 5.times do
  .row.collapse
    .flight
      .row 
    
        .column.large-2
          %img{src: "/img/United.png"}
          .airline United
          .ticket-price 
            %strong $1215
        .column.large-7.flight-info
          .clearfix
            .left
              %div
                %strong
                  .hide-for-small-only Depart 
                7:30a ORD
              %div
                %strong
                  .hide-for-small-only Depart 
                6:15a SEA 
            .left
              %div &#8674
              %div &#8674
            .left
              %div
                %strong
                  .hide-for-small-only Arrive 
                10:02p SEA
              %div
                %strong
                  .hide-for-small-only Arrive 
                11:56p ORD
            .left
              .lighter 4h 32m nonstop
              .lighter 3h 41m nonstop
        .column.large-3
          %input.book-button.button.postfix{type: "submit", value: "Book Flight"}
                      

