.row
  %h1 welcome

.row
  .column.large-6
    %p fadlskfj adaklsdfj klajsdflkasj dflakjsd f;alksdj f;alkdjs f;alskdjf al;ksdf jal;kdjs faklsdj faal;ksdfj aklds
  .column.large-6
    %p fadlskfj adaklsdfj klajsdflkasj dflakjsd f;alksdj f;alkdjs f;alskdjf al;ksdf jal;kdjs faklsdj faal;ksdfj aklds

.row
  %h2 Deals

.row
  .column.large-3
    .deal My Deal
  .column.large-3
    .deal My Deal
  .column.large-3
    .deal My Deal
  .column.large-3
    .deal My Deal
