#hero
  %h1.cursive.show-for-large-up You deserve the perfect vacation

  .flight-form
    .row
      %h2.white Flights
      %form{action: "/flight_results"}
        .row
          .column.large-4
            .margin-bottom
              %a.padding-right{href: "#"} Round-trip
              %a{href: "#"} One-way
        .row.collapse
          .column.large-3.small-6
            %input{type: "text", placeholder: "Chicago (CHI)"}
          .column.large-3.small-6
            %input{type: "text", placeholder: "To"}
          .column.large-3.small-6
            %input{type: "text", placeholder: "Depart"}
          .column.large-3.small-6
            %input{type: "text", placeholder: "Return"}    
        .row.collapse 
          .column.large-2.small-4
            %input{type: "text", placeholder: "Adults (18+)"}
          .column.large-2.small-4
            %input{type: "text", placeholder: "Children (2-11)"}
          .column.large-2.small-4
            %input{type: "text", placeholder: "Infants (under 2)"}
          .column.large-3
            %select{type: "select"}
              %option{value:"Economy"} Economy
              %option{value:"Premium Economy"} Premium Economy
              %option{value:"Business"} Business
              %option{value:"First Class"} First Class       
          .column.large-3
            %input.button.postfix{type: "submit", value: "Search"}  
                     

#deals.extra-margin-bottom.hide-for-small-only
  .row
    %h2.green.extra-margin-header.column Deals

  = haml :'partials/deals'


  



