.row
  .column.large-3.position-right
    %select{type: "select"}
      %option{value: "Price"} Price (low to high)
      %option{value: "Price"} Price (high to low)

.row.collapse
  .result-boxes
    .row   
      .column.large-2
        %img{src: "/img/hotels/Westin_seattle.png"}
        .Reviews.lighter 4/5 See Reviews
        .price $179/night
      .column.large-7
        .name
          Best hotel in Seattle
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul
                %li Air-conditioned 
                %li Airport shuttle 
                %li Fitness center
                %li Pool 
            .column.large-6
              %ul 
                %li No smoking 
                %li Parking 
                %li Wheelchair accessible 
                %li WiFi          
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}

.row.collapse
  .result-boxes
    .row   
      .column.large-2
        %img{src: "/img/hotels/seattle6.png"}
        .Reviews.lighter 4/5 See Reviews
        .price $189/night
      .column.large-7
        .name
          Best hotel in Seattle
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul
                %li Air-conditioned 
                %li Airport shuttle 
                %li Fitness center
                %li Pool 
            .column.large-6
              %ul 
                %li No smoking 
                %li Parking 
                %li Wheelchair accessible 
                %li WiFi          
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}

.row.collapse
  .result-boxes
    .row   
      .column.large-2
        %img{src: "/img/hotels/seattle2.png"}
        .Reviews.lighter 4/5 See Reviews
        .price $199/night
      .column.large-7
        .name
          Best hotel in Seattle
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul
                %li Air-conditioned 
                %li Airport shuttle 
                %li Fitness center
                %li Pool 
            .column.large-6
              %ul 
                %li No smoking 
                %li Parking 
                %li Wheelchair accessible 
                %li WiFi          
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                  

.row.collapse
  .result-boxes
    .row   
      .column.large-2
        %img{src: "/img/hotels/seattle3.png"}
        .Reviews.lighter 4/5 See Reviews
        .price $210/night
      .column.large-7
        .name
          Best hotel in Seattle
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul
                %li Air-conditioned 
                %li Airport shuttle 
                %li Fitness center
                %li Pool 
            .column.large-6
              %ul 
                %li No smoking 
                %li Parking 
                %li Wheelchair accessible 
                %li WiFi          
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                  

.row.collapse
  .result-boxes
    .row   
      .column.large-2
        %img{src: "/img/hotels/seattle4.png"}
        .Reviews.lighter 4/5 See Reviews
        .price $215/night
      .column.large-7
        .name
          Best hotel in Seattle
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul
                %li Air-conditioned 
                %li Airport shuttle 
                %li Fitness center
                %li Pool 
            .column.large-6
              %ul 
                %li No smoking 
                %li Parking 
                %li Wheelchair accessible 
                %li WiFi          
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                  

.row.collapse
  .result-boxes
    .row   
      .column.large-2
        %img{src: "/img/hotels/seattle5.png"}
        .Reviews.lighter 4/5 See Reviews
        .price $220/night
      .column.large-7
        .name
          Best hotel in Seattle
        .info.no-list-style
          .row.collapse
            .column.large-6
              %ul
                %li Air-conditioned 
                %li Airport shuttle 
                %li Fitness center
                %li Pool 
            .column.large-6
              %ul 
                %li No smoking 
                %li Parking 
                %li Wheelchair accessible 
                %li WiFi          
      .column.large-3
        %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                  
                                  