.container
  .row
    .column

      .actions
        .row
          .column.large-3.end
            %select{type: "select"}
              %option{value: "Price"} Price (low to high)
              %option{value: "Price"} Price (high to low)


      .result-boxes
        .row   
          .column.large-2.primary-info
            %img{src: "/img/hotels/Westin_seattle.png"}
            .Reviews.lighter 4/5 See Reviews
            .price
              $179
              %span.subscript /night
          .column.large-7
            .name
              Seattle Paradise
            .info.no-list-style
              .row.collapse
                .column.large-6
                  %ul
                    %li Air-conditioned 
                    %li Airport shuttle 
                    %li Fitness center
                    %li Pool 
                .column.large-6
                  %ul 
                    %li No smoking 
                    %li Parking 
                    %li Wheelchair accessible 
                    %li WiFi          
          .column.large-3
            %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}

      .result-boxes
        .row   
          .column.large-2.primary-info
            %img{src: "/img/hotels/seattle6.png"}
            .Reviews.lighter 4/5 See Reviews
            .price
              $189
              %span.subscript /night
          .column.large-7
            .name
              Seattle Adventure
            .info.no-list-style
              .row.collapse
                .column.large-6
                  %ul
                    %li Air-conditioned 
                    %li Airport shuttle 
                    %li Fitness center
                    %li Pool 
                .column.large-6
                  %ul 
                    %li No smoking 
                    %li Parking 
                    %li Wheelchair accessible 
                    %li WiFi          
          .column.large-3
            %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}


      .result-boxes
        .row   
          .column.large-2.primary-info
            %img{src: "/img/hotels/seattle2.png"}
            .Reviews.lighter 4/5 See Reviews
            .price
              $199
              %span.subscript /night
          .column.large-7
            .name
              Cozy Seattle
            .info.no-list-style
              .row.collapse
                .column.large-6
                  %ul
                    %li Air-conditioned 
                    %li Airport shuttle 
                    %li Fitness center
                    %li Pool 
                .column.large-6
                  %ul 
                    %li No smoking 
                    %li Parking 
                    %li Wheelchair accessible 
                    %li WiFi          
          .column.large-3
            %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                      

      .result-boxes
        .row   
          .column.large-2.primary-info
            %img{src: "/img/hotels/seattle3.png"}
            .Reviews.lighter 4/5 See Reviews
            .price
              $210
              %span.subscript /night
          .column.large-7
            .name
              Fancy Seattle
            .info.no-list-style
              .row.collapse
                .column.large-6
                  %ul
                    %li Air-conditioned 
                    %li Airport shuttle 
                    %li Fitness center
                    %li Pool 
                .column.large-6
                  %ul 
                    %li No smoking 
                    %li Parking 
                    %li Wheelchair accessible 
                    %li WiFi          
          .column.large-3
            %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                      

      .result-boxes
        .row   
          .column.large-2.primary-info
            %img{src: "/img/hotels/seattle4.png"}
            .Reviews.lighter 4/5 See Reviews
            .price
              $215
              %span.subscript /night
          .column.large-7
            .name
              Royal Seattle
            .info.no-list-style
              .row.collapse
                .column.large-6
                  %ul
                    %li Air-conditioned 
                    %li Airport shuttle 
                    %li Fitness center
                    %li Pool 
                .column.large-6
                  %ul 
                    %li No smoking 
                    %li Parking 
                    %li Wheelchair accessible 
                    %li WiFi          
          .column.large-3
            %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                      

      .result-boxes
        .row   
          .column.large-2.primary-info
            %img{src: "/img/hotels/seattle5.png"}
            .Reviews.lighter 4/5 See Reviews
            .price
              $220
              %span.subscript /night
          .column.large-7
            .name
              Rich in Seattle
            .info.no-list-style
              .row.collapse
                .column.large-6
                  %ul
                    %li Air-conditioned 
                    %li Airport shuttle 
                    %li Fitness center
                    %li Pool 
                .column.large-6
                  %ul 
                    %li No smoking 
                    %li Parking 
                    %li Wheelchair accessible 
                    %li WiFi          
          .column.large-3
            %input.book-button.button.postfix{type: "submit", value: "Book Hotel"}
                                      
                                      
