<div class="container">
  <div class="row">
    <div class="column">
      <div class="actions">
        <div class="row">
          <div class="column large-3 end">
            <select type="select">
              <option value="Price">Price (low to high)</option>
              <option value="Price">Price (high to low)</option>
            </select>
          </div>
        </div>
      </div>
      <div class="result-boxes">
        <div class="row">
          <div class="column large-2 primary-info">
            <img src="/img/hotels/Westin_seattle.png"/>
            <div class="Reviews lighter">4/5 See Reviews</div>
            <div class="price">
              $179
              <span class="subscript">/night</span>
            </div>
          </div>
          <div class="column large-7">
            <div class="name">
              Seattle Paradise
            </div>
            <div class="info no-list-style">
              <div class="row collapse">
                <div class="column large-6">
                  <ul>
                    <li>Air-conditioned </li>
                    <li>Airport shuttle </li>
                    <li>Fitness center</li>
                    <li>Pool </li>
                  </ul>
                </div>
                <div class="column large-6">
                  <ul>
                    <li>No smoking </li>
                    <li>Parking </li>
                    <li>Wheelchair accessible </li>
                    <li>WiFi          </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column large-3">
            <input class="book-button button postfix" type="submit" value="Book Hotel"></input>
          </div>
        </div>
      </div>
      <div class="result-boxes">
        <div class="row">
          <div class="column large-2 primary-info">
            <img src="/img/hotels/seattle6.png"/>
            <div class="Reviews lighter">4/5 See Reviews</div>
            <div class="price">
              $189
              <span class="subscript">/night</span>
            </div>
          </div>
          <div class="column large-7">
            <div class="name">
              Seattle Adventure
            </div>
            <div class="info no-list-style">
              <div class="row collapse">
                <div class="column large-6">
                  <ul>
                    <li>Air-conditioned </li>
                    <li>Airport shuttle </li>
                    <li>Fitness center</li>
                    <li>Pool </li>
                  </ul>
                </div>
                <div class="column large-6">
                  <ul>
                    <li>No smoking </li>
                    <li>Parking </li>
                    <li>Wheelchair accessible </li>
                    <li>WiFi          </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column large-3">
            <input class="book-button button postfix" type="submit" value="Book Hotel"></input>
          </div>
        </div>
      </div>
      <div class="result-boxes">
        <div class="row">
          <div class="column large-2 primary-info">
            <img src="/img/hotels/seattle2.png"/>
            <div class="Reviews lighter">4/5 See Reviews</div>
            <div class="price">
              $199
              <span class="subscript">/night</span>
            </div>
          </div>
          <div class="column large-7">
            <div class="name">
              Cozy Seattle
            </div>
            <div class="info no-list-style">
              <div class="row collapse">
                <div class="column large-6">
                  <ul>
                    <li>Air-conditioned </li>
                    <li>Airport shuttle </li>
                    <li>Fitness center</li>
                    <li>Pool </li>
                  </ul>
                </div>
                <div class="column large-6">
                  <ul>
                    <li>No smoking </li>
                    <li>Parking </li>
                    <li>Wheelchair accessible </li>
                    <li>WiFi          </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column large-3">
            <input class="book-button button postfix" type="submit" value="Book Hotel"></input>
          </div>
        </div>
      </div>
      <div class="result-boxes">
        <div class="row">
          <div class="column large-2 primary-info">
            <img src="/img/hotels/seattle3.png"/>
            <div class="Reviews lighter">4/5 See Reviews</div>
            <div class="price">
              $210
              <span class="subscript">/night</span>
            </div>
          </div>
          <div class="column large-7">
            <div class="name">
              Fancy Seattle
            </div>
            <div class="info no-list-style">
              <div class="row collapse">
                <div class="column large-6">
                  <ul>
                    <li>Air-conditioned </li>
                    <li>Airport shuttle </li>
                    <li>Fitness center</li>
                    <li>Pool </li>
                  </ul>
                </div>
                <div class="column large-6">
                  <ul>
                    <li>No smoking </li>
                    <li>Parking </li>
                    <li>Wheelchair accessible </li>
                    <li>WiFi          </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column large-3">
            <input class="book-button button postfix" type="submit" value="Book Hotel"></input>
          </div>
        </div>
      </div>
      <div class="result-boxes">
        <div class="row">
          <div class="column large-2 primary-info">
            <img src="/img/hotels/seattle4.png"/>
            <div class="Reviews lighter">4/5 See Reviews</div>
            <div class="price">
              $215
              <span class="subscript">/night</span>
            </div>
          </div>
          <div class="column large-7">
            <div class="name">
              Royal Seattle
            </div>
            <div class="info no-list-style">
              <div class="row collapse">
                <div class="column large-6">
                  <ul>
                    <li>Air-conditioned </li>
                    <li>Airport shuttle </li>
                    <li>Fitness center</li>
                    <li>Pool </li>
                  </ul>
                </div>
                <div class="column large-6">
                  <ul>
                    <li>No smoking </li>
                    <li>Parking </li>
                    <li>Wheelchair accessible </li>
                    <li>WiFi          </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column large-3">
            <input class="book-button button postfix" type="submit" value="Book Hotel"></input>
          </div>
        </div>
      </div>
      <div class="result-boxes">
        <div class="row">
          <div class="column large-2 primary-info">
            <img src="/img/hotels/seattle5.png"/>
            <div class="Reviews lighter">4/5 See Reviews</div>
            <div class="price">
              $220
              <span class="subscript">/night</span>
            </div>
          </div>
          <div class="column large-7">
            <div class="name">
              Rich in Seattle
            </div>
            <div class="info no-list-style">
              <div class="row collapse">
                <div class="column large-6">
                  <ul>
                    <li>Air-conditioned </li>
                    <li>Airport shuttle </li>
                    <li>Fitness center</li>
                    <li>Pool </li>
                  </ul>
                </div>
                <div class="column large-6">
                  <ul>
                    <li>No smoking </li>
                    <li>Parking </li>
                    <li>Wheelchair accessible </li>
                    <li>WiFi          </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="column large-3">
            <input class="book-button button postfix" type="submit" value="Book Hotel"></input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
