.form-page.extra-margin-bottom
  .row
    .column
      %h2.green.extra-margin-header Hotels
      %form{action: "/hotel_results"}
        .row.collapse
          .column.large-4
            %input{type: "text", placeholder: "Location"}
          .column.large-2
            %input{type: "text", placeholder: "Check In"} 
          .column.large-2
            %input{type: "text", placeholder: "Check Out"}
          .column.large-1.small-6
            %input{type: "text", placeholder: "Rooms"} 
          .column.large-1.small-6
            %input{type: "text", placeholder: "Guests"}   
          .column.large-2
            %input.button.postfix{type: "submit", value: "Search"}           
.photo-collage.show-for-large-up
  .row
    .column.medium-6
      .image-collage 
        %img{src: "/img/hotels/Ireland_hotel.png"}
        .place Ireland Hotels
        .price $120+
    .column.medium-3.small-6
      .image-collage 
        %img{src: "/img/hotels/Chicago_hotels.png"}
        .place Chicago Hotels
        .price $100+
    .column.medium-3.small-6
      .image-collage 
        %img{src: "/img/hotels/Mexico_hotels.png"}
        .place Mexico Hotels
        .price $90+

  .row
    .column.medium-3.small-6
      .image-collage 
        %img{src: "/img/hotels/NewYork_hotels.png"}
        .place New York Hotels
        .price $120+
    .column.medium-6
      .image-collage 
        %img{src: "/img/hotels/Jamrock_hotel.png"}
        .place Jamaica Hotels
        .price $130+
    .column.medium-3.small-6
      .image-collage  
        %img{src: "/img/hotels/China_hotels.png"}
        .place China Hotels
        .price $140+

  .row
    .column.medium-6
      .image-collage 
        %img{src: "/img/hotels/Seattle_hotels.png"}
        .place Seattle Hotels
        .price $70+
    .column.medium-3.small-6
      .image-collage 
        %img{src: "/img/hotels/Michigan_hotels.png"}
        .place Michigan Hotels
        .price $50+
    .column.medium-3.small-6
      .image-collage 
        %img{src: "/img/hotels/Paris_hotels.png"}
        .place Paris Hotels
        .price $125+   