!!!
%html
  %head
    %title My Sinatra Website
    %link{rel: "stylesheet", type: "text/css", href: "/css/normalize.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/foundation.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/main.css"}
    %link{rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"}
    
  %body
    %nav#nav.top-bar.toggle-topbar.menu-icon
      %ul.title-area
        %li.name
          %h1
            %a{href: "/"} Escape
      %section.top-bar-section
        %ul.left
          %li
            %a{href: "/flights"} Flights
          %li
            %a{href: "/hotels"} Hotels
          %li
            %a{href: "/cars"} Cars
          %li
            %a{href: "/deals"} Deals
        %ul.right
          %li
            %a{href: "#"} Login
          %li
            %a{href: "#"} Signup

    = yield

    = haml :'partials/footer'  
