!!!
%html
  %head
    %title Escape Travel Website
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/normalize.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/styles.css"}
    %link{rel: "stylesheet", type: "text/css", href: "https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"}

  %body
    %nav#nav.top-bar
      .container 
        %ul.title-area
          %li.name
            %h1
              %a{href: "/"} Escape
        %section.top-bar-section
          %ul.left
            %li.hide-for-small-only
              %a{href: "/flights", class: ("active" if @flights_tab)} Flights
            %li.hide-for-small-only
              %a{href: "/hotels", class: ("active" if @hotels_tab)} Hotels
            %li.hide-for-small-only
              %a{href: "/cars", class: ("active" if @cars_tab)} Cars
            %li.hide-for-small-only
              %a{href: "/deals", class: ("active" if @deals_tab)} Deals
          %ul.right
            %li.hide-for-small-only
              %a{href: "#"} Login
            %li.hide-for-small-only
              %a{href: "#"} Signup
            %li.show-for-small-only
              %a.mobile-menu{href: "#"}
                .menu-icon

    = yield

    = haml :'partials/footer'  
