!!!
%html
  %head
    %title My Sinatra Website
    %link{rel: "stylesheet", type: "text/css", href: "/css/normalize.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/foundation.min.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/css/main.css"}
  %body= yield
