/* line 3, ../../views/stylesheets/main.scss */
.deal {
  width: 100%;
  height: 200px;
  background: #eee;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
