/* line 1, ../../views/stylesheets/_positioning.scss */
.left {
  float: left;
}

/* line 5, ../../views/stylesheets/_positioning.scss */
.right {
  float: right;
}

/* line 1, ../../views/stylesheets/_responsive.scss */
.hide-for-small-only {
  display: none;
}
@media (min-width: 640px) {
  /* line 1, ../../views/stylesheets/_responsive.scss */
  .hide-for-small-only {
    display: block;
  }
}

@media (min-width: 640px) {
  /* line 9, ../../views/stylesheets/_responsive.scss */
  .show-for-small-only {
    display: none;
  }
}

/* line 15, ../../views/stylesheets/_responsive.scss */
.show-for-large-up {
  display: none;
}
@media (min-width: 1024px) {
  /* line 15, ../../views/stylesheets/_responsive.scss */
  .show-for-large-up {
    display: block;
  }
}

/* line 1, ../../views/stylesheets/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../../views/stylesheets/_grid.scss */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 10, ../../views/stylesheets/_grid.scss */
.row {
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}

/* line 15, ../../views/stylesheets/_grid.scss */
.column {
  padding: 0 15px;
  float: left;
  width: 100%;
  position: relative;
}
/* line 21, ../../views/stylesheets/_grid.scss */
.column.end {
  float: right;
}

/* line 27, ../../views/stylesheets/_grid.scss */
.row .row .column:first-child {
  padding-left: 0;
}
/* line 31, ../../views/stylesheets/_grid.scss */
.row .row .column:last-child {
  padding-right: 0;
}

/* line 37, ../../views/stylesheets/_grid.scss */
.row.collapse .column {
  padding: 0;
}

/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-1 {
  width: 8.33333%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-2 {
  width: 16.66667%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-3 {
  width: 25%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-4 {
  width: 33.33333%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-5 {
  width: 41.66667%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-6 {
  width: 50%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-7 {
  width: 58.33333%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-8 {
  width: 66.66667%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-9 {
  width: 75%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-10 {
  width: 83.33333%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-11 {
  width: 91.66667%;
}
/* line 44, ../../views/stylesheets/_grid.scss */
.column.small-12 {
  width: 100%;
}

@media (min-width: 640px) {
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-1 {
    width: 8.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-2 {
    width: 16.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-3 {
    width: 25%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-4 {
    width: 33.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-5 {
    width: 41.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-6 {
    width: 50%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-7 {
    width: 58.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-8 {
    width: 66.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-9 {
    width: 75%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-10 {
    width: 83.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-11 {
    width: 91.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.medium-12 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-1 {
    width: 8.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-2 {
    width: 16.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-3 {
    width: 25%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-4 {
    width: 33.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-5 {
    width: 41.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-6 {
    width: 50%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-7 {
    width: 58.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-8 {
    width: 66.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-9 {
    width: 75%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-10 {
    width: 83.33333%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-11 {
    width: 91.66667%;
  }
  /* line 44, ../../views/stylesheets/_grid.scss */
  .column.large-12 {
    width: 100%;
  }
}
/* line 1, ../../views/stylesheets/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 4px 0 8px 0;
}

/* line 6, ../../views/stylesheets/_typography.scss */
h2 {
  font-size: 36px;
}

/* line 7, ../../views/stylesheets/_typography.scss */
h3 {
  font-size: 26px;
}

/* line 9, ../../views/stylesheets/_typography.scss */
strong {
  font-weight: bold;
  display: inline-block;
}

/* line 14, ../../views/stylesheets/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}

/* line 19, ../../views/stylesheets/_typography.scss */
a {
  text-decoration: none;
  color: #3090c2;
}
/* line 23, ../../views/stylesheets/_typography.scss */
a:hover {
  color: #267299;
}

/* line 28, ../../views/stylesheets/_typography.scss */
.subscript {
  font-size: 0.5em;
}

/* line 32, ../../views/stylesheets/_typography.scss */
.lighter {
  color: gray;
}

/* line 36, ../../views/stylesheets/_typography.scss */
.green {
  color: #71b095;
}

/* line 40, ../../views/stylesheets/_typography.scss */
.small-text {
  font-size: 0.7em;
}

/* line 44, ../../views/stylesheets/_typography.scss */
.cursive {
  font-family: "Jennifer Lynne", Arial, Helvetica, sans-serif;
}

/* line 1, ../../views/stylesheets/_forms.scss */
input, textarea, select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  transition: border 0.5s;
  line-height: 22px;
}
/* line 10, ../../views/stylesheets/_forms.scss */
input:focus, textarea:focus, select:focus {
  outline: 0;
  border: 1px solid #42c28a;
}

/* line 16, ../../views/stylesheets/_forms.scss */
input[type="text"], textarea {
  -webkit-transition: background 0.5s, border 0.5s;
  -moz-transition: background 0.5s, border 0.5s;
  -o-transition: background 0.5s, border 0.5s;
  transition: background 0.5s, border 0.5s;
}
/* line 19, ../../views/stylesheets/_forms.scss */
input[type="text"]:focus, textarea:focus {
  background: #f9f9f9;
}

/* line 24, ../../views/stylesheets/_forms.scss */
select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #f9f9f9;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  padding-right: 20px;
}
/* line 33, ../../views/stylesheets/_forms.scss */
select:hover {
  border-color: #aaa;
}

/* line 38, ../../views/stylesheets/_forms.scss */
input.button {
  border: none;
  padding: 9px;
  background: #00a990;
  color: white;
}
/* line 44, ../../views/stylesheets/_forms.scss */
input.button:hover {
  background: #008f7a;
}
/* line 48, ../../views/stylesheets/_forms.scss */
input.button:active {
  background: #007665;
}

/* line 3, ../../views/stylesheets/_nav.scss */
nav.top-bar {
  z-index: 100;
  background: rgba(113, 176, 149, 0.5);
  color: black;
  height: 45px;
  position: relative;
  color: white;
}
/* line 11, ../../views/stylesheets/_nav.scss */
nav.top-bar h1 {
  margin: 0;
  font-size: 18px;
}
/* line 16, ../../views/stylesheets/_nav.scss */
nav.top-bar a {
  color: white;
  padding: 0 15px;
  font-size: 12px;
  line-height: 45px;
  display: block;
}
/* line 23, ../../views/stylesheets/_nav.scss */
nav.top-bar a:hover {
  background: rgba(113, 176, 149, 0.8);
}
/* line 27, ../../views/stylesheets/_nav.scss */
nav.top-bar a.active:after {
  border-bottom: 5px solid white;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 38, ../../views/stylesheets/_nav.scss */
nav.top-bar ul li {
  float: left;
  list-style: none;
  position: relative;
}
/* line 45, ../../views/stylesheets/_nav.scss */
nav.top-bar .mobile-menu {
  padding-top: 7px;
  padding-bottom: 7px;
}
/* line 50, ../../views/stylesheets/_nav.scss */
nav.top-bar .menu-icon {
  height: 30px;
  width: 30px;
  background: url("/img/icons/menu_icon.png");
  background-size: 30px 30px;
}

@font-face {
  font-family: "Jennifer Lynne";
  src: url(/fonts/jennifer_lynne/jennifer_lynne.eot) format('embedded-opentype'), url(/fonts/jennifer_lynne/jennifer_lynne.ttf) format('truetype');
}

/* line 3, ../../views/stylesheets/_main.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 8, ../../views/stylesheets/_main.scss */
img {
  max-width: 100%;
  display: inline-block;
}

/* line 13, ../../views/stylesheets/_main.scss */
#hero {
  background-image: url("/img/hero/Hero.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  margin-top: -45px;
}
/* line 21, ../../views/stylesheets/_main.scss */
#hero h1 {
  text-align: center;
  font-size: 110px;
  color: white;
  padding-top: 150px;
  margin: 0;
}

/* line 30, ../../views/stylesheets/_main.scss */
.image-collage {
  width: 100%;
  background: #1a212c;
  margin-bottom: 20px;
}
/* line 35, ../../views/stylesheets/_main.scss */
.image-collage:hover img {
  opacity: .4;
}
/* line 39, ../../views/stylesheets/_main.scss */
.image-collage img {
  width: 100%;
  opacity: .7;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 46, ../../views/stylesheets/_main.scss */
.image-collage .place {
  position: absolute;
  top: 50%;
  margin-top: -35px;
  font-size: 25px;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
}

/* line 57, ../../views/stylesheets/_main.scss */
.image-collage .price {
  position: absolute;
  top: 50%;
  font-size: 20px;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
}

/* line 67, ../../views/stylesheets/_main.scss */
.form-page {
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 100px;
}

/* line 77, ../../views/stylesheets/_main.scss */
.actions {
  margin-top: 20px;
}

/* line 81, ../../views/stylesheets/_main.scss */
.result-boxes {
  border-bottom: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 1025px) {
  /* line 86, ../../views/stylesheets/_main.scss */
  .result-boxes .primary-info {
    text-align: center;
  }
}
/* line 92, ../../views/stylesheets/_main.scss */
.result-boxes .logo {
  display: inline-block;
  text-align: center;
}
/* line 97, ../../views/stylesheets/_main.scss */
.result-boxes .name {
  color: #4a4a4a;
  font-size: 25px;
}
/* line 102, ../../views/stylesheets/_main.scss */
.result-boxes .price {
  color: #71b095;
  font-size: 35px;
  position: absolute;
  top: 0;
  right: 15px;
}
@media (min-width: 1025px) {
  /* line 102, ../../views/stylesheets/_main.scss */
  .result-boxes .price {
    position: relative;
    right: 0;
    font-size: 26px;
  }
}
/* line 116, ../../views/stylesheets/_main.scss */
.result-boxes .info {
  color: gray;
  font-size: 17px;
}
/* line 121, ../../views/stylesheets/_main.scss */
.result-boxes .book-button {
  margin: 10px 0 0 0;
}
@media (min-width: 1025px) {
  /* line 121, ../../views/stylesheets/_main.scss */
  .result-boxes .book-button {
    margin-top: 0px;
  }
}

/* line 130, ../../views/stylesheets/_main.scss */
.off-white-background {
  background-color: whitesmoke;
  border-top: 2px solid #e7e7e7;
}

/* line 135, ../../views/stylesheets/_main.scss */
.page-section {
  padding: 100px 0;
}

/* line 139, ../../views/stylesheets/_main.scss */
.margin-bottom {
  margin-bottom: 7px;
}

/* line 143, ../../views/stylesheets/_main.scss */
.extramargin-bottom {
  margin-bottom: 15px;
}

/* line 147, ../../views/stylesheets/_main.scss */
.extra-margin-bottom {
  margin-bottom: 80px;
}

/* line 151, ../../views/stylesheets/_main.scss */
.extra-margin-header {
  margin-top: 50px;
}

/* line 155, ../../views/stylesheets/_main.scss */
.padding-right {
  padding-right: 15px;
}

/* line 159, ../../views/stylesheets/_main.scss */
.padding-left {
  padding-left: 15px;
}

/* line 163, ../../views/stylesheets/_main.scss */
.pull-left {
  float: left;
}

/* line 168, ../../views/stylesheets/_main.scss */
.no-list-style ul {
  margin: 0;
}
/* line 172, ../../views/stylesheets/_main.scss */
.no-list-style li {
  list-style: none;
}

/* line 177, ../../views/stylesheets/_main.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 182, ../../views/stylesheets/_main.scss */
.footer {
  padding: 40px;
  background: #71b095;
  color: white;
  text-align: center;
}
/* line 188, ../../views/stylesheets/_main.scss */
.footer a {
  color: white;
  font-size: 14px;
}
/* line 192, ../../views/stylesheets/_main.scss */
.footer a:hover {
  color: #e6e6e6;
}

/* line 201, ../../views/stylesheets/_main.scss */
.social-media img {
  padding-top: 10px;
  padding-left: 4px;
  position: relative;
  -webkit-transition: top 0.1s;
  -moz-transition: top 0.1s;
  -o-transition: top 0.1s;
  transition: top 0.1s;
  top: 0;
}
/* line 209, ../../views/stylesheets/_main.scss */
.social-media a:hover img {
  top: -5px;
}

/* line 1, ../../views/stylesheets/_flights.scss */
.flight-form {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  color: black;
  padding: 10px;
  padding-top: 20px;
  background: rgba(26, 53, 44, 0.6);
}
/* line 11, ../../views/stylesheets/_flights.scss */
.flight-form h2 {
  top: -60px;
  position: absolute;
  color: white;
}
/* line 17, ../../views/stylesheets/_flights.scss */
.flight-form a {
  color: white;
}
/* line 20, ../../views/stylesheets/_flights.scss */
.flight-form a:hover {
  color: #c8c8c8;
}

/* line 27, ../../views/stylesheets/_flights.scss */
.flight-info-mobile .flight-time {
  text-align: center;
  border: 1px solid #ddd;
  border-bottom-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  max-width: 100px;
  margin: 0 auto;
}
/* line 35, ../../views/stylesheets/_flights.scss */
.flight-info-mobile .flight-time .time {
  padding: 15px 10px;
  font-size: 20px;
}
/* line 40, ../../views/stylesheets/_flights.scss */
.flight-info-mobile .flight-time .airport {
  padding: 5px 10px;
  background: #eee;
}
/* line 46, ../../views/stylesheets/_flights.scss */
.flight-info-mobile .middle-info {
  text-align: center;
  margin-top: 20px;
}

/* line 52, ../../views/stylesheets/_flights.scss */
.flight-info-desktop {
  margin-bottom: 15px;
}
/* line 55, ../../views/stylesheets/_flights.scss */
.flight-info-desktop span {
  display: inline-block;
}
/* line 59, ../../views/stylesheets/_flights.scss */
.flight-info-desktop .depart, .flight-info-desktop .arrive {
  font-weight: bold;
}
/* line 63, ../../views/stylesheets/_flights.scss */
.flight-info-desktop .flight-time {
  width: 50px;
}
/* line 67, ../../views/stylesheets/_flights.scss */
.flight-info-desktop .airport-code {
  width: 40px;
}
/* line 71, ../../views/stylesheets/_flights.scss */
.flight-info-desktop .arrow {
  margin: 0 4px;
}
/* line 75, ../../views/stylesheets/_flights.scss */
.flight-info-desktop .duration {
  margin-left: 20px;
}
